name: Build Android APK

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: '3.9'

    - name: Install System Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          python3-pip \
          build-essential \
          git \
          python3 \
          python3-dev \
          ffmpeg \
          libsdl2-dev \
          libsdl2-image-dev \
          libsdl2-mixer-dev \
          libsdl2-ttf-dev \
          libportmidi-dev \
          libswscale-dev \
          libavformat-dev \
          libavcodec-dev \
          zlib1g-dev \
          libgstreamer1.0 \
          gstreamer1.0-plugins-base \
          gstreamer1.0-plugins-good \
          autoconf \
          automake \
          libtool \
          libpq-dev \
          libssl-dev \
          libasound2-dev \
          libjpeg-dev \
          libpulse-dev \
          libbz2-dev \
          libncurses5-dev \
          libreadline-dev \
          libffi-dev \
          libxml2-dev \
          libxslt-dev \
          libsqlite3-dev \
          libgdbm-dev \
          zlib1g-dev \
          libfreetype6-dev \
          default-jdk \
          openjdk-11-jdk \
          zip \
          unzip

    - name: Install OpenJDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Install Python Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install --upgrade Cython
        pip install --upgrade buildozer
        pip install --upgrade virtualenv

    - name: Set up Android SDK
      uses: android-actions/setup-android@v2

    - name: Clone python-for-android
      run: |
        git clone https://github.com/kivy/python-for-android.git
        cd python-for-android
        git checkout develop
        cd ..
        mkdir -p /home/runner/work/Gestor-de-voo/Gestor-de-voo/.buildozer/android/platform/
        cp -r python-for-android /home/runner/work/Gestor-de-voo/Gestor-de-voo/.buildozer/android/platform/

    - name: Cache Buildozer global directory
      uses: actions/cache@v2
      with:
        path: .buildozer
        key: ${{ runner.os }}-buildozer-cache-${{ hashFiles('**/buildozer.spec') }}
        restore-keys: |
          ${{ runner.os }}-buildozer-cache-

    - name: Build Android APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v2
      with:
        name: app-debug
        path: bin/*.apk
